# Copy this to .env and fill in your values
PORT=
NODE_ENV=development/production
MONGO_URI=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

NEWS_APIKEY=
FRONTEND_URL=
mongodb://localhost:27017/newsforyou
# ENVIRNOMENT=development
